/* ! COLORS */

/* Zilveren Kruis */

$blue-navy: #0068bd;
$blue-dark-cerulean: #113e83;
$blue-prussian: #002857;
$blue-summer-sky: #279eda;
$blue-pattens: #d6eff0;
$violet-medium-red: #c93a83;

$zk-blauw: $blue-navy;
$zk-donkerblauw: $blue-dark-cerulean;
$zk-blauwzwart: $blue-prussian;
$zk-lichtblauw: $blue-summer-sky;
$zk-lichtgroenblauw: $blue-pattens;
$zk-violet: $violet-medium-red;

/* Centraal Beheer */

$green-kelly: #34a00a;
$green-gossip: #A0C86E;
$green-hint: #dae9c5;
$violet-persian-indigo: #46156b;
$orange-dark: #FF8800;
$grey-mortar: #595757;

$cb-groen: $green-kelly;
$cb-mediumgroen: $green-gossip;
$cb-lichtgroen: $green-hint;
$cb-paars: $violet-persian-indigo;
$cb-oranje: $orange-dark;
$cb-grijs: $grey-mortar;

$brand-primary: $zk-blauw;
$text-color: $zk-blauwzwart;