$border-radius-base: 6px;

$tablet-small-col-6: 265px;
$tablet-small-col-8: 363px;
$tablet-small-col-9: 413px;
$tablet-small-col-12: 560px;

$tablet-col-6: 345px;
$tablet-col-8: 470px;
$tablet-col-9: 533px;
$tablet-col-12: 720px;

$desktop-col-6: 455px;
$desktop-col-8: 617px;
$desktop-col-9: 698px;
$desktop-col-12: 940px;

$desktop-wide-col-6: 555px;
$desktop-wide-col-8: 750px;
$desktop-wide-col-9: 848px;
$desktop-wide-col-12: 1140px;