/*

BOOTSTRAP GRID VARIATIONS

xs = phone
ls = phablet / phone landscape > 480px
ts = tablet small > 600px
sm = tablet > 768px
md = desktop > 992px
lg = desktop wide > 1200px

*/

$screen-lg-min: 1080px;
$container-lg: 1080px;

$row-padding--phone: 15px;
$row-padding--tablet: 24px;
$row-padding--desktop: 30px;

$body-bg: #EEE;

@import "fonts";

@import "bootstrap-custom";

@import "colors";

@import "misc-variables";

@import "mixins";

@import "layout";

@import "../bourbon/bourbon";


@media #{$phone-only} {
  .hidden-xs {
    display: none !important;
  }
}

@media #{$phablet-only} {
  .hidden-ls {
    display: none !important;
  }
}

@media #{$phablet} {
  .hidden-ls-lg {
    display: none !important;
  }
}

@media #{$phone-phablet-only} {
  .hidden-xs-ls {
    display: none !important;
  }
}

@media #{$phone-tablet-small-only} {
  .hidden-xs-ts {
    display: none !important;
  }
}

@media #{$tablet-small-only} {
  .hidden-ts {
    display: none !important;
  }
}

@media #{$tablet-small} {
  .hidden-ts-lg {
    display: none !important;
  }
}

@media #{$tablet-only} {
  .hidden-sm {
    display: none !important;
  }
}

@media #{$tablet} {
  .hidden-sm-lg {
    display: none !important;
  }
}

@media #{$desktop-only} {
  .hidden-md {
    display: none !important;
  }
}

@media #{$desktop} {
  .hidden-md-lg {
    display: none !important;
  }
}

/* UTILITY CLASSES */

.nw {
  white-space: nowrap;
}

/* ! FONT RENDERING */

html, body {
  margin: 0;
}

.body-wrap, .body-container {
  overflow-x: hidden;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

a {
  color: $zk-blauw;
}

h1, h2, h3, h4 {
  font-family: $font-family-headers;
  margin-top: 0;
  margin-bottom: 0;
}

.imgc {
  img {
    max-width: 100%;
    width: 100%;
  }
}

.page-head {
  padding-top: $row-padding--phone;
  padding-bottom: $row-padding--phone;
  @media #{$tablet-small} {
    padding-top: $row-padding--tablet;
    padding-bottom: $row-padding--tablet;
  }
  @media #{$tablet} {
    padding-top: $row-padding--tablet;
    padding-bottom: $row-padding--tablet;
  }
  .col-xs-6 {
    //padding: 0 30px;
  }
}


.site-name {
  display: none;
}


.site-logo {
  @include container(50px, 383px, 120px);
  @media #{$tablet-small} {
    margin-left: 0;
    @include container(60px, 383px, 120px);
  }
}

.branding--secondary {
  float: right;
}

.centraal-beheer-logo {
  margin-top: 10px;
  @include container(40px, 333px, 120px);
  @media #{$tablet-small} {
    margin-top: 0;
    @include container(60px, 333px, 120px);
  }
}


.hero-carousel {
  position: relative;
  margin-bottom: 55px;
  margin-left: -15px;
  margin-right: -15px;
  @media #{$phablet} {
    margin-bottom: $row-padding--tablet;
  }
  @media #{$tablet-small} {
    margin-left: 0;
    margin-right: 0;
  }
  img {
    width: 100%;
    @media #{$tablet-small} {
      border-radius: $border-radius-base;
    }
  }
}

/*
.hero-carousel {
	.laatste-bod & {
		background-image: url('../img/zk-arts-monteur-visual-1088x571px.jpg');
		background-size: 101%;
		border-radius: $border-radius-base;
		@media #{$tablet-small} {
			height: 324px;
		}	
		@media #{$desktop-wide} {
			height: 330px;
		}
	}
}
*/



.carousel-slogan {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  font-size: 20px;
  line-height: 1.0;
  font-weight: $semi-bold;
  color: white;
  text-align: center;
  display: block;
  @include vertical-padding(8px,12/8);
  background-color: $zk-blauw;
  @media #{$phablet} {
    color: $zk-blauw;
    background-color: white;
    bottom: 20px;
  }
  @media #{$tablet-small} {
    font-size: 28px;
    left: 45px;
    right: 45px;
    bottom: 30px;
    line-height: 0.8;
    @include vertical-padding(15px,17/15);
  }
  span {
    font-weight: $bold;
  }
}



.carousel-slogan:before {

  @media #{$phablet} {
    @include slanted-corner;
    left: 0;
    @include slanted-corner--one-line;
    background-color: white;
  }
}

.carousel-slogan:after {

  @media #{$phablet} {
    @include slanted-corner;
    right: -30px;
    @include slanted-corner--one-line;
    right: -15px;
    background-color: white;
  }
}

.main-widget {
  @include row-padding;
  @media #{$desktop} {
    //min-height: 278px;
    height: 278px;
  }
  @media #{$desktop-wide} {
    //min-height: 338px;
    height: 338px;
  }
}


.main-widget {
  position: relative;
  @include panel-padding--small;
  border-radius: 6px;
  background-color: $cb-groen;
  &, a {
    color: white;
  }
  h2 {
    font-size: 19px;
    padding-bottom: 9px;
    @media #{$tablet} {
      font-size: 22px;
    }
    @media #{$desktop} {
      font-size: 19px;
    }
    @media #{$desktop-wide} {
      font-size: 24px;
      padding-bottom: 14px;
    }
  }
  ul {
    padding: 0;
    margin-bottom: 0;
  }
  li {
    font-size: 15px;
    margin-bottom: 9px;
    list-style-type: none;
    &:last-child {
      margin-bottom: 0;
    }
    @media #{$desktop-wide} {
      font-size: 17px;
      margin-bottom: 13px;
    }
  }
  .xsell-button {
    width: 100%;
    margin-top: 9px;
  }
}

.mw--multi__product-list {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-widget--light {
  background-color: white;
  border-color: $zk-lichtgroenblauw;
  border-style: solid;
  border-width: 1px;
  &, a, .main-widget__korting a {
    color: $cb-groen;
  }
  .main-widget__korting a:hover {
    color: shade($cb-groen,40%);

  }
}

.main-widget {
  .usp {
    @include zk-vinkjes-list;
    @media #{$desktop-wide} {
      margin-bottom: 12px;
    }
    li {
      margin-bottom: 0;
      &:before {
        color: $cb-lichtgroen;
      }
    }
  }
}

.main-widget--auto {
  padding-bottom: 69px;
  .mw__header {
    margin-top: 8px;
    font-weight: 600;
  }
  .mw__form-header {
    margin-top: 8px;
  }
}

.main-widget--boot {
  padding-bottom: 84px;
}


.mw__header {
  margin-top: -3px;
  font-weight: normal;
  .spt &, .ltpt & {
    font-weight: $semi-bold;
    text-align: left;
    padding-bottom: 12px;
  }
}


.mw__header--phone {
  font-weight: $semi-bold;
  padding-bottom: 0 !important;
  margin-bottom: -2px;
  .fa {
    padding-left: 6px;
  }
  a:active, a:focus {
    text-decoration: none;
  }
}

.mw--multi__product-list--phone {
  margin-top: 12px;
  .main-widget__korting {
    padding-top: 2px;
  }
  .fa {
    padding-left: 3px;
  }
}

.mw__form-header {
  font-family: $font-family-headers;
  font-size: 18px;
  text-align: center;
  padding-bottom: 12px;
}

.widget-footnote {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  font-size: 13px;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
}

.company-name {
  font-weight: $semi-bold;
}

.main-widget__korting {
  float: right;
  font-size: 12px;
  a {
    color: $cb-lichtgroen;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
  @media #{$desktop-wide} {
    font-size: 15px;
  }
}

.mw--multi__product-list {
  margin-top: 2px;
  display: table;
  border-collapse: collapse;
  width: 100%;
  li {
    display: table-row;
    &:last-child {
      > span {
        padding-bottom: 0;
      }
    }
  }
}

.mw--multi__product-list--phone {
  margin-top: 12px;
}

.main-widget__naam,
.main-widget__korting {
  display: table-cell;
  padding-bottom: 9px;
  @media #{$desktop-wide} {
    padding-bottom: 12px;
  }
}

.main-widget__naam {
  float: left;
  width: 65%;
}

.main-widget__korting {
  width: 35%;
  text-align: right;
}

.main-widget-container {
  position: relative;
  min-height: 308px;
}

.main-widget--expanded {
  position: absolute;
  z-index: 9999;
  width: 293px;
  height: auto;
  min-height: 278px;
  padding-bottom: 15px;
  .discount__text--high {
    top: 9px;
    .discount__1st {
      font-size: 19px;
    }
  }
  .spw__form {
    margin-bottom: 0;
  }
  label {
    display: block;
    float: none !important;
    clear: both;
  }
  .form-group {
    margin-bottom: 7px;
  }
  .schadevrije-jaren {
    //width: 80%;
    //padding-right: 30px;
    @include clearfix;
    input {
      width: 20%;
      float: left;
      margin-right: 10px;
    }
    .fa {
      margin-right: 9px !important;
    }
  }
  .info-link {
    font-size: 0.8em;
    padding-top: 7px;
    .fa {
      margin-right: 2px;
    }
    a {
      text-decoration: underline;
    }
  }
  .geboortedatum,
  .postcode {
    width: 47%;
    display: inline-block;
  }
  .postcode {
    margin-bottom: 15px;
    margin-left: 10px;
  }
  /**/
  .widget-footnote {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 15px;
  }
  /**/
  .widget-footnote--collapsed {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  .collectiviteit {
    position: relative;
    width: 89%;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 10px;
    input {
      padding-right: 29px;
    }
    .fa {
      position: absolute;
      top: 7px;
      right: 8px;
      color: $cb-groen;
      font-size: 1.5em;
    }
  }
}

.mw__header--xp {
  padding-bottom: 18px !important;
}

.input-button-container--xp {
  margin-top: 5px !important;
}

.fn__header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.collectiviteitsvoordeel-link {
  text-decoration: none !important;
  //font-weight: 600;
}

.info-link--collectiviteit {
  margin-top: 13px;
  .fa {
    font-size: 18px;
  }
}

.text-block {
  @include zk-panel;
  @include panel-padding--large;
  @include row-padding;
}

.tblock__header {
  margin-top: -4px;
  font-size: 22px;
  line-height: 1.2;
  color: $zk-blauw;
  padding-bottom: 9px;
  @media #{$tablet-small} {
    font-size: 24px;
    padding-bottom: 12px;
  }
  span {
    font-weight: $semi-bold;
  }
}

.tblock__subheader {
  font-size: 20px;
  color: $zk-blauw;
  padding-bottom: 8px;
}

.tblock__text {
  p {
    line-height: 1.6;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}



.tblock--actie__img {
  @include container(74px, 710px, 318px);
  margin-top: 15px;
  margin-bottom: 9px;
}

.tblock--usp__img {
  @include container(74px, 794px, 327px);
  margin-top: 15px;
}

.tblock__footnote {
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: -8px;
}

.tblock--contact {
  .tblock__subheader {
    @media #{$tablet} {
      margin-top: 12px;
    }
  }
  .xsell-button {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tblock--contact--terugbellen {
  display: none;
  @media #{$tablet-small} {
    display: block;
    padding-bottom: 12px;
  }
}

.tblock--intro {
  position: relative;
  .tblock__header {
    br {
      @media #{$phablet} {
        display: none;
      }
      @media #{$tablet} {
        display: block;
      }
    }
  }
  .more-link {
    @media #{$tablet} {
      position: absolute;
      bottom: 22px;
    }
  }
  @media #{$tablet-only} {
    min-height: 285px;
  }
  .spt &, .ltpt & {
    @media #{$tablet} {
      padding-bottom: 55px;
    }
  }
}

.xsell-button--phonenumber {
  @media #{$tablet-small} {
    display: none !important;
  }
}

.cb-phone--large {
  font-size: 26px;
  font-weight: $semi-bold;
  color: $cb-groen;
  .tblock--contact & {
    margin-top: -8px;
    margin-bottom: 6px;
  }
  &.blue-phone {
    color: #FFF;
  }
  display: none;
  @media #{$tablet-small} {
    display: block;
  }
}

.xsell-button {
  @include xsell-button;
}

.xsell-button--white-bg {
  @include xsell-button--white-bg;
}

.xsell-button--green-bg {
  @include xsell-button--green-bg;
}

.xsell-button--small {
  font-size: 16px;
  padding-left: 6px;
  padding-right: 6px;
}


[data-icon]:after {
  font-family: "zk-icons-font";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 9px;
  font-size: 1.6rem;
}

[data-icon]:after,
[data-beforeicon]:before {
  font-size: 1.2rem;
}


.row-header {
  text-align: center;
  margin-bottom: 18px;
  @media #{$tablet} {
    margin-bottom: 24px;
  }
  h3 {
    margin-top: -6px;
    margin-bottom: -2px;
    font-size: 24px;
    font-weight: $semi-bold;
    color: $zk-blauw;
    @media #{$tablet} {
      font-size: 30px;
    }
  }
  br {
    .spt & {
      display: none;
      @media #{$tablet-small} {
        display: block;
      }
    }
  }
}

.overige-verzekeringen {
  h3 {
    font-size: 24px;
    font-weight: $semi-bold;
    color: $zk-blauw;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .xsell-button {
    margin-top: 15px;
    width: 100%;
  }
}

.main-products-container {
  @include row-padding;
  @include clearfix;
  @include panel-padding--product;
  background-color: $cb-lichtgroen;
  border-radius: 6px;
  .text-block {
    height: 100%;
  }
}

.single-product,
.dekking {
  margin-bottom: 15px;
}

.single-product--rechtsbijstand,
.dekking--3 {
  margin-bottom: 0;
}

@media #{$tablet} {
  .single-product,
  .extra-blocks,
  .dekking,
  .dekkingen-button-container {
    margin-left: -7px;
    margin-right: -7px;
  }
  .main-products-container {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media #{$tablet-only} {
  .dekking {
    margin-bottom: 0;
  }
}

@media #{$desktop} {
  .single-product,
  .dekking {
    margin-bottom: 0;
  }

}

.single-product-info {
  @include panel-padding--product;
  background-color: white;
  border-radius: 6px;
  position: relative;
  @media #{$tablet-small} {
    padding-bottom: 38px;
    .more-link {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
  }
  .pblock__name {
    //width: 80%;
    margin-top: 0;
    margin-bottom: 17px;
  }
}

.lp-link {
  &:hover {
    cursor: pointer;
  }
}

.dekking {
  @include panel-padding--product;
  background-color: white;
  border-radius: 6px;
  .pblock__name {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.dekkingen-button-container {
  .xsell-button {
    width: 100%;
    margin-top: 15px;
  }
}

.pblock__name {
  font-size: 24px;
  font-weight: $semi-bold;
  color: #0566c0;
}



.pblock__discount {
  @include zk-hoekje;
  background-image: url(../img/zk-corner-cb-oranje-136x136px.png);
  color: white;
  font-family: $font-family-headers;
  float: right;
  position: relative;
  .main-widget--korting & {
    background-image: url(../img/zk-corner-zk-blauw-136x136px.png);
  }
  &.ignore-float {
    position: absolute;
    margin-top: 7px;
  }
  
  @media (max-width: 599px) {
    position: absolute;
    //margin-top: 7px;
  }

}

.discount__text {
  text-align: center;
  line-height: 1.0;
  @include transform(rotate(45deg));
  position: absolute;
  top: 5px;
  right: 4px;
}

.discount__1st {
  font-size: 24px;
  font-weight: $bold;
}

.discount__2nd {
  font-size: 14px;
  font-weight: normal;
}


.sp__visual {
  height: 138px;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 16px;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  img {
    width: 154%;
    margin-top: -5%;
    margin-left: -31%;
    @media #{$phablet} {
      width: 100%;
      margin-top: -3%;
      margin-left: 0;
    }
    @media #{$tablet-small} {
      margin-top: -6%;
    }
    @media #{$tablet} {
      margin-top: -2%;
    }
    @media #{$desktop} {
      margin-top: 0;
    }
    @media #{$desktop-wide} {
      margin-top: -3%;
    }
  }
}

.pblock__info {
  p {
    line-height: 1.6;
    margin-bottom: 0;
  }
}

.more-link {
  color: $zk-blauw;
  .pblock__info & {
    @media #{$tablet-small} {
      text-align: center;
      margin-bottom: -6px;
    }
    a {
      @media #{$phone-phablet-only} {
        @include xsell-button;
        @include xsell-button--white-bg;
        width: 100%;
        margin-top: 12px;
      }
    }
  }
}

.single-product-widget {
  margin-top: 15px;
  @include panel-padding--product;
  padding-bottom: 48px;
  background-color: $cb-groen;
  border-radius: 6px;
  position: relative;
  display: none;
  @media #{$tablet-small} {
    display: block;
  }
}

.input-button-container {
  margin-top: 10px;
  position: relative;
  input, button {
    @include xsell-button;
    @include xsell-button--green-bg;
    width: 100%;
    height: 100%;
    padding-right: 20px;
  }
  .input--green {
    @include xsell-button--white-bg;
  }
  .single-product-widget & {
    bottom: 15px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  &:after {
    font-family: "zk-icons-font";
    content: 'a';
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 9px;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 11px;
    right: 12px;
  }
  &.input-button-multi {

    &:after {
      top: 21px;
    }

    input, button {
      line-height: 20px;
      padding: 5px 0;
    }

  }
}


.spw__form--button {
  margin-bottom: 0 !important;
}

.single-product-widget .xsell-button {
  bottom: 15px;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
}


.spw__title {
  margin-top: -4px;
  font-size: 18px;
  font-weight: $semi-bold;
  color: white;
  text-align: center;
  margin-bottom: 6px;
  .spw--rechtsbijstand & {
    margin-bottom: 23px;
  }
}

.spw__question {
  font-family: $font-family-headers;
  font-size: 14px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

.spw__form {
  margin-bottom: 12px;
  .nummerbord {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    padding-bottom: 12px;
  }
  .form-group--postcode {
    width: 35.1%;
  }
  .form-group--huisnummer,
  .form-group--toevoeging {
    width: 27.5%;
  }
  .form-group--postcode,
  .form-group--huisnummer {
    margin-right: 6px;
  }
  label {
    font-family: $font-family-headers;
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin-bottom: 7px;
    float: left;
  }
  .form-control {
    width: 100%;
    height: 32px;
    padding: 6px 6px;
    border: none;
    font-size: 14px;
    line-height: 1.1;
    color: $text-color;
  }
}

form input[name="licensePlateInput"] {
  background: url(../img/nummerbord-230x50px.png) no-repeat left top transparent;
  width: 230px;
  height: 50px;
  border: 0;
  padding: 6px 0 6px 25px;
  margin-right: 25px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
}

@mixin kenteken-placeholder {
  color: $text-color;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  padding-top: 10px;
}

form input[name="licensePlateInput"]::-webkit-input-placeholder {
  @include kenteken-placeholder;
}

form input[name="licensePlateInput"]:-moz-placeholder { /* Firefox 18- */
  @include kenteken-placeholder;
}

form input[name="licensePlateInput"]::-moz-placeholder {  /* Firefox 19+ */
  @include kenteken-placeholder;
}

form input[name="licensePlateInput"]:-ms-input-placeholder {
  @include kenteken-placeholder;
}

.spw__form--adres {
  .form-group {
    display: inline-block;
  }
}

.form__adres-inputs {
  text-align: center;
}

.btxt--long {
  display: none;
  @media #{$phablet} {
    display: inline;
  }
}

.product-block {
  @include zk-panel;
  @include panel-padding--small;
}

.pblock__payoff {
  font-family: $font-family-headers;
  font-size: 16px;
  color: $zk-blauw;
}

.pblock--long-tail {
  @include row-padding;
  .pblock__name,
  .pblock__payoff {
    text-align: left;
  }
  .pblock__name {
    margin-top: -4px;
  }
  .pblock__payoff {
    margin-top: 6px;
    padding-bottom: 12px;
  }
  .xsell-button {
    display: none;
    @media #{$tablet-small} {
      display: block;
    }
  }
  @media #{$tablet} {
    position: relative;
    padding-bottom: 56px;
    .pblock__buttons {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
  }
}


.tblock__text,
.pblock__info {
  ul {
    @include zk-vinkjes-list;
    margin-top: 8px;
  }
  li:before {
    color: $cb-groen;
  }
}


.pblock__buttons {
  @include clearfix;
  margin-top: 12px;
  .more-link {
    padding-top: 3px;
    margin-bottom: 0;
  }
  [data-icon]:after {
    padding-left: 3px;
  }
  .xsell-button {
    width: 100%;
  }
}

.half {
  width: 50%;
  float: left;
}

.tblock--collectiviteitskorting {
  .more-link {
    margin-bottom: -4px;
  }
  .xsell-button {
    width: 100%;
    margin-top: 12px;
  }
  @include row-padding;
  .main-products-container & {
    padding: 20px;
    margin-bottom: 15px;
  }
}


.xsell-button--bottom {
  width: 100%;
  margin-top: 12px;
}


.tblock--independer {
  .tblock__header {
    margin-top: -4px;
  }
  @include row-padding;
  .main-products-container & {
    padding: 20px;
    margin-bottom: 0;
    .tblock__header {
      margin-top: -8px;
    }
    .tblock__text {
      margin-bottom: -4px;
    }
  }
}

.independer__cijfer {
  font-size: 28px;
  font-weight: $semi-bold;
}

.tblock--independer__img {
  @include container(43px, 523px, 121px);
  margin-top: 12px;
  .main-products-container & {
    display: none;
  }
}

.wist-u-dat {
  @include panel-padding--large;
  background-color: $zk-lichtgroenblauw;
  border-radius: $border-radius-base;
  text-align: center;
  @include row-padding;
}

.wist-u-dat__header,
.wist-u-dat__subheader {
  font-size: 20px;
  line-height: 1.3;
  @media #{$tablet} {
    font-size: 24px;
  }
}

.wist-u-dat__header {
  color: $zk-blauw;
  padding-left: 35px;
  padding-right: 35px;
  @media #{$desktop-wide} {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.wist-u-dat__subheader {
  color: $zk-donkerblauw;
}

.nuttig {
  text-align: center;
  @include row-padding;
}

.nuttig__question,
.nuttig__answer {
  display: inline-block;
  padding-right: 12px;
}

.nuttig__question {
  line-height: 1.1;
  margin-bottom: 0;
}

.nuttig__answer {
  text-decoration: underline;
}

footer {
  background-color: $zk-donkerblauw;
  padding-top: 15px;
  .row {
    //padding: 0 30px;
  }
}

.footer-block {
  position: relative;
  @include panel-padding--small;
  border-radius: $border-radius-base;
  background-color: $zk-blauw;
  height: 278px;
  @include row-padding;
  &, p, li, a {
    color: white;
  }
  @media #{$desktop} {
    height: 212px;
  }
}

.fblock__logo {
  @include zk-hoekje;
  background-image: url(../img/zk-corner-wit-136x136px.png);
  .kkv-logo {
    @include container(36px,329px,311px);
    position: absolute;
    top: 5px;
    right: 6px;
  }
  .cb-beste-logo {
    @include container(40px,100px,134px);
    position: absolute;
    top: 5px;
    right: 8px;
  }
}

.fblock__header {
  font-family: $font-family-base;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 9px;
}

.fblock__text {
  p, ul {
    font-size: 14px;
    line-height: 1.6;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: tint($zk-blauw, 80%);
      text-decoration: none;
    }
  }
}

.footer-block--hoekje {
  .fblock__header {
    width: 80%;
  }
  .fblock__text {
    width: 90%;
  }
}

.tblock--testimonial {
  .tblock__header {
    padding-bottom: 16px;
  }
}

.kiyoh__naam {
  font-family: $font-family-headers;
  font-size: 18px;
  font-weight: $semi-bold;
  margin-bottom: 6px;
  .plaats {
    font-weight: normal;
  }
}

.kiyoh__aanbeveling {
  font-weight: normal;
  margin-bottom: 4px;
  .antwoord {
    font-weight: bold;
  }
}

.kiyoh__beoordeling {
  font-weight: normal;
  .cijfer {
    font-weight: bold;
  }
}

.kiyoh__pluspunten__hd {
  font-family: $font-family-headers;
  font-size: 18px;
  font-weight: $semi-bold;
  color: $zk-blauw;
  margin-top: 9px;
  margin-bottom: 4px;
}

.kiyoh__pluspunten__txt {
  font-style: italic;
  margin-bottom: 12px;
}

.testimonial__bron {}

.testimonial__quote {
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 6px;
  &:before {
    content: '\201c';
    padding-right: 2px;
  }
  &:after {
    content: '\201d';
    padding-left: 2px;
  }
}

.tblock--collectiviteitskorting {
  .more-link {
    padding-top: 12px;
  }
}

.subfooter-links {
  margin-top: -8px;
  padding-bottom: 20px;
  @media #{$tablet} {
    margin-top: -12px;
  }
  @media #{$desktop} {
    margin-top: -20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      &:before {
        content: "";
      }
    }
    a {
      color: white;
      font-size: 14px;
    }
  }
}

/* WIDGET COLLECTIVITEITSKORTING */

.main-widget--collectiviteitszoeker {
  min-height: 278px;
  height: auto;
  padding-bottom: 20px
}

.widget-opener-element {text-decoration:none!important;}
.widget-opener-element img {margin-left:5px; margin-top:-1px;}
.main-widget--auto .employer-known {
  display:none;
}

.employer-known,
.employer-unknown {
  margin-top:-3px;
  margin-bottom:-8px;
  font-size:16px;
}

input.employers {
  background: white url('http://campaign.zilverenkruis.nl/xs/assets/skin-2014/img/icon-search.png') no-repeat right center!important;
  padding-right:30px!important;
}

.main-widget .input-employers {
  margin-top:20px;
  padding-bottom:10px;
  padding-right:25px;
  position:relative;
}

.main-widget .bottom .input-employers {
  padding-bottom:0px;
}

.bottom .input-employers {
  padding:0 25px;
}

.main-widget--auto  .tooltip_employers {
  position:absolute;
  right:0; top:7px;
}

.main-widget--auto  .employers {
  width:100%;
}

.main-widget--auto form {
  margin:0; padding:0;
}

.main-widget--auto  .input-button-container {
  margin-top:0;
}
.main-widget--auto  .widget-footnote h4 {
  padding-bottom:5px;
  font-size:16px;
  font-weight:bold;
}
.main-widget--auto  .widget-footnote {
  padding-top:20px;
  position:relative;
  left:0; top:0;
  right:auto; bottom:auto;
}

.main-widget--auto  .widget-footnote.bottom {
  /*
    padding:20px;
    position:absolute;
    left:0; top:auto;
    right:auto; bottom:10px;
*/
}

.main-widget--auto input[type=text].default {
  border-radius: 4px;
  padding: 6px 6px;
  border: none;
  font-size: 14px;
  line-height: 1.1;
  color: #002857;
  padding-left:10px;
}

/* KLANTWAARDERING */

.tblock--klantwaardering {
  position: relative;
  .tblock__header {
    padding-right: 255px;
  }
  .tblock__header-number {
    position: absolute;
    top: 14px;
    right: 30px;
    text-align: right;
    @media #{$tablet-small} {
      top: 23px;
    }
  }
}

.tblock__header-number {
  font-size: 48px;
  line-height: 1.1;
  font-weight: $semi-bold;
  color: $zk-donkerblauw;
}

/* LAATSTE BOD LP */

.hero-carousel {
  .laatste-bod & {
    border-radius: $border-radius-base;
    @media #{$tablet-small} {
      height: 294px;
    }
    @media #{$tablet} {
      height: 380px;
    }
    @media #{$desktop} {
      height: 324px;
    }
    @media #{$desktop-wide} {
      height: 330px;
      overflow: hidden;
    }
  }
}

.carousel-slogan--laatste-bod {
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 12px;
  //background-color: rgba($zk-blauw, .9);
  .subheader {
    font-weight: $regular;
    span {
      font-weight: $semi-bold;
    }
  }
  &:before,
  &:after {
    height: 88px;
    width: 19px;
    //background-color: rgba($zk-blauw, .9);
  }
}

.tblock--intro--laatste-bod {
  min-height: 328px;
  background-image: url('../img/floorad-car-790x754px.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  background-color: #C8D9E0;
}

.tblock--actie--laatste-bod {
  .tblock__header br {
    @media (min-width: 365px) {
      display: none;
    }
    @media #{$tablet} {
      display: block;
    }
  }
}

.tblock--contact--laatste-bod {
  overflow: hidden;
  background-image: url('../img/callcenter-employee-6477.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -68px;
  padding-top: 126px;
  text-align: center;
  @media (min-width: 360px) {
    padding-top: 180px;
  }
  @media (min-width: 420px) {
    padding-top: 236px;
  }
  @media #{$phablet} {
    background-size: 0%;
    padding-top: 20px;
  }
  @media #{$tablet} {
    background-size: 100%;
    padding-top: 166px;
  }
  @media #{$desktop} {
    padding-top: 126px;
  }
  @media #{$desktop-wide} {
    padding-top: 166px;
  }
  .contact-photo {
    @media #{$phablet} {
      background-image: url('../img/callcenter-employee-6477.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50%;
      height: 222px;
      margin-left: -26px;
      margin-top: -26px;
      float: left;
    }
    @media (min-width: 540px) {
      height: 222px;
    }
    @media #{$tablet} {
      display: none;
    }
  }
  .contact-text {
    @media #{$phablet} {
      width: 50%;
      float: right;
    }
    @media #{$tablet} {
      width: auto;
      float: none;
    }
  }
  .tblock__header,
  .cb-phone--large {
    text-align: center;
  }
  .tblock__header {
    padding-bottom: 9px;
    br {
      @media (min-width: 360px) {
        display: none;
      }
      @media #{$phablet} {
        display: block;
      }
      @media #{$desktop-wide} {
        display: none;
      }
    }
  }
  .cb-phone--large {
    margin-bottom: -6px;
  }
  .xsell-button--phonenumber {
    margin-bottom: 0;
  }
  .tblock--contact--terugbellen {
    padding-bottom: 0;
    display: block;
  }
  .tblock__subheader {
    margin-top: 12px;
  }
}

.tblock--samenwerking {
  .laatste-bod & {
    .tblock__header br {
      display: none;
      @media #{$tablet} {
        display: block;
      }
    }
  }
}

/* NOW INTERACT CALLBACK FORM */

#nowinteract_callback {
  margin-top: 12px;
  text-align: center;
}

#callback-form {
  .tblock__subheader {
    margin-bottom: 4px;
    text-align: center;
  }
}

.callback-inputField {
  border-radius: 4px;
  background-color: tint($cb-groen, 91%);
  margin-bottom: 10px;
  text-align: center;
}

#lnksend {
  width: 100%;
}

.terugbellen__bedankt {
  margin-top: 15px;
  background-color: #d7eff0;
  border-radius: 4px;
  border: 1px solid shade($zk-lichtgroenblauw, 5%);
  padding: 16px;
  text-align: center;
}

.terugbellen__bedankt__header {
  font-size: 24px;
  line-height: 1.1;
  margin-top: -2px;
  color: $zk-blauw;
  margin-bottom: 6px;
  .vinkje {
    display: inline-block;
    width: 20px;
    height: 22px;
    background-image: url('../img/zk-vinkje-cb-groen-90x90px.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 2px;
    margin-right: 2px;
  }
}

.terugbellen__bedankt__text {
  margin-bottom: 0;
  @media #{$desktop} {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.body-wrap {
  text-align: center;
  font-size: 0;
}

.body-container {
  background: #FFF;
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

.container {
  //padding: 0;
}

@media (max-width: 1079px) {
  .container {
    //width: 100% !important;
  }
}

.outer-hero {

  background: url(../img/hero.jpg) center -2px no-repeat;
  width: 100%;
  height: 464px;
  border: 1px solid #F6F7FA;
  border-left: none;
  border-right: none;
  padding-top: 32px;
  position: relative;

  .pblock__discount {
    position: absolute;
    display: none;

    &:before {
      width: 5px;
      height: 5px;
      position: absolute;
      background: #FF8800;
      right: 0;
      top: 0;
      content: '';
    }
  }

  .hero-title {
    width: 338px;
    font-size: 57px;
    font-style: italic;
    font-weight: 600;
    color: #0068bd;
  }

  .hero-title-2 {
    font-size: 40px;
    color: #FFF;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: -0.5px;
    @media #{$tablet} {
      margin-bottom: 28px;
    }
  }

  .container {
    //padding: 0 30px;
  }

  [class*="col-"] {
    //padding: 0;
  }

  .small-container {
    max-width: 292px;
    width: 100%;
    float: right;

    .badge {
      background: url(../img/badge.png) no-repeat;
      width: 136px;
      height: 149px;
      margin: 0 auto 25px;
      text-align: center;
      color: #FFF;
      padding-top: 22px;

      &.badge-orange {
        background-image: url(../img/badge-orange.png);
      }

      h2 {
        font-size: 48px;
      }

      h3 {
        font-size: 27px;
        margin-top: -8px;
      }

      h2, h3 {
        font-weight: 600;
      }

      h4 {
        font-size: 13px;
      }

    }

  }

  .left-container {
    float: left;
  }

}

    .check-widget {
      min-height: 0;
      border-bottom: 1px solid #2b8608;

      h2 {
        font-size: 20px;
        font-weight: 600;
      }

      .form-group {
        width: 30%;
        display: inline-block;
        margin-right: 5px;

        &.postcode {
          width: 81px;
        }

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }

    }

.hero-desc {

  font-size: 21px;
  text-align: center;

  .desc-content {
    max-width: 620px;
    margin: 30px auto;
  }

}

.form-note {
  font-size: 18px;
  margin: -4px 0;
}

.widget-footer-note {
  padding: 0 45px;
  margin-bottom: 5px;

  .arrow-icon, .arrow-note {
    display: inline-block;
  }

  .arrow-note {
    margin-bottom: 0;
    position: relative;
    top: 12px;
    margin-left: 5px;
  }

}

.hero-list {
  font: normal normal 20px 'PT Sans';
  color: #FFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.28);
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;

  li {
    position: relative;

    p {
      padding-left: 32px;

      &:before {
        font: normal normal 20px 'zk-icons-font';
        content: 'g';
        position: absolute;
        top: 6px;
        display: inline-block;
        margin-right: 10px;
        left: 0;
      }
    }
  }

}

.information-block {

  background: #DAE9CA;
  padding-top: 30px;

  .information-title {
    color: #0566c0;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
  }

  .information-title-2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .row {
    //padding: 0 30px;
  }

  .col-lg-8, .col-lg-12, .col-lg-4 {
    //padding: 0;
  }

  .xsell-button {
    width: 100%;
    max-width: 617px;
  }

  .blocks {

    .col-md-6 {
      //margin-bottom: 30px;
      //padding: 7px;
      //padding-right: 0;
      //margin-right: 30px;
    }

    .dekking {
      border-bottom: 1px solid #bfccad;
    }

    .col-md-6, .dekking {
      //height: 236px;
      //width: 293px;

      &:nth-of-type(2n + 0) {
        margin-right: 0;
      }

      .pblock__info {
        font-size: 16px;
      }
    }

  }

  .main-widget-container {
    margin-left: 20px;
    width: 293px;
    margin-top: 10px;
    .main-widget {
      border-bottom: 1px solid #267706;
    }
  }


}

.row {
  //margin: 0;
}

.phone-info-icon {
  font: normal normal 20px 'zk-icons-font';
  margin-left: 10px;
  &:hover {
    text-decoration: none;
  }
}

.widget-button-note {
  font-size: 20px;
  margin: 10px 0 0 0;

}

.links-section {
  text-align: center;

  a {
    color: #002857;
    font-size: 16px;
    margin: 15px 10px 12px;
    display: inline-block;
  }
}

.mobile-hero-widgets {
  display: none;
}

.mobile-only {
  display: none !important;
}

.mobile-hero-widgets {

  padding: 20px 0;

  .small-container {
    height: 200px;
  }

  .check-widget {
    margin: 15px auto 0;
    position: relative;
    width: 100%;

    .form-group {
      width: 31%;

      &.last {
        margin-right: 0;
      }

      @media (max-width: 310px) {
        width: 30%;
      }

    }

  }

  .hero-list {
    color: #002857;
    text-shadow: none;
    font-size: 18px;
  }

  .hero-list p:before {
    color:#34a00a;
    font-size: 18px;
  }

}

@import "kpw-header";

@media (max-width: 1080px) {

  .call-me-later-widget {
    margin: 0 !important;
    width: 100% !important;
    .main-widget {
      width: 100%;
      position: relative;
      .xsell-button {
        max-width: 100% !important;
      }
    }
    .widget-button-note {
        float: left;
        margin-right: 10px;

      .xsell-button.first {
          margin-top: -13px !important;
      }

      & ~ .xsell-button {
        width: 293px;
        position: absolute;
        left: 253px;
      }

    }
  }

  .information-block .blocks {
    .xsell-button {
      //max-width: 100% !important;
    }
    .col-md-6 {
      //padding: 7px 0 7px 7px;
      //width: 50%;
      //width: calc(50% - 15px);
      //-webkit: -webkit-calc(50% - 15px);
    }
    .dekking {
      width: auto;
    }
  }

  .footer-block {
    //height: 236px;
  }

  .big-badge {
    display: none;
  }

  .outer-hero {

    .hero-list {
      //padding-left: 284px;
    }

    .hero-list-container {
      //left: 30px;
    }

    .hero-title-2 {
      font-size: 35px;
    }

    .pblock__discount {
      display: block;
    }

  }

}

@media (max-width: 745px) {

  .information-block {

    .dekking, .col-md-6 {
      //height: 256px !important;
    }

    .col-md-6 {
      //padding-left: 0 !important;
    }

  }

}

@media (max-width: 688px) {

  .page-head .col-xs-6, .outer-hero .container {
    //padding: 0 30px;
  }

  .information-block {

    .row {
      //padding: 0 30px;
    }

    .dekking, .col-md-6 {
      //width: 100% !important;
      //height: 210px !important;
      //margin-right: 0 !important;
    }

  }

  footer .row {
    //padding: 0 15px;
  }

}

@media (max-width: 877px) {

  .footer-block {
    //height: 310px;
  }

}

@media (max-width: 759px) {

  .footer-block {
    height: auto;
  }

}

@media (max-width: 767px) {

  .hero-widgets {
    display: none;
  }

  .mobile-hero-widgets {
    display: block;
  }

  .outer-hero {
    padding-bottom: 80px;
    background-size: cover;
    background-position: bottom;
    height: auto !important;

    .hero-title-2 {
      //margin-top: 10px;
    }
  }

  .information-block {
    .information-title, .information-title-2 {
      text-align: center;
    }
  }

}

@media (max-width: 512px) {

  .outer-hero {
    padding-bottom: 0;
    height: 150px !important;

    .hero-title-2 {
      //font-size: 22px;
      margin-top: 0;
    }

    .pblock__discount {
      display: none;
    }

  }

}


@media (max-width: 599px) {

  .page-head .col-xs-6, .outer-hero .container {
    //padding: 0 15px;
  }

  .information-block {

    .row {
      //padding: 0 15px;
    }

    .dekking {
      height: auto !important;
    }

    .pblock__name {
      font-size: 22px;
    }

    .information-title {
      font-size: 26px;
    }

    .information-title-2 {
      font-size: 16px;
    }

    .col-md-6 {
      //margin-bottom: 0 !important;
    }



  }

  footer .row {
    //padding: 0;
  }

  .hide-mobile {
    display: none !important;
  }

  .mobile-only {
    display: block !important;
  }

    .subfooter-links {
      text-align: center;
    }

}

@media (max-width: 439px) {

  .links-section {
    padding: 10px 15px;
  }

  .links-section a {
    margin: 0 10px;
  }

}

@media (max-width: 620px) {

  .widget-button-note ~ .xsell-button {
    position: relative !important;
    left: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }

}

.woon-massa-q2-n {

  @import "_woon-massa-q2-n";

}