if scriptsNew == false
	script(src="js/jquery-1.10.2.min.js")
	script(src="js/main.js")
	script(src="js/getparams.js")
else
	script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")		
	script(src="js/app.js")