- var zkLink = 'http://www.zilverenkruis.nl/consumenten';
- var cbLink = 'https://www.centraalbeheer.nl/Paginas/default.aspx';
- var autoLink = 'https://autopremie.centraalbeheer.nl/AutoVerzekering/Stap1/';
- var woonLink = 'https://www.centraalbeheer.nl/verzekeringen/woonverzekering/premie-berekenen/Paginas/stap-1.aspx';
- var rechtLink = 'https://www.centraalbeheer.nl/rechtsbijstandverzekering/premie-berekenen/';
- var bootLink = 'https://www.centraalbeheer.nl/verzekeringen/bootverzekering/offerte-aanvragen/Paginas/stap-1.aspx';
- var caravanLink = 'https://www.centraalbeheer.nl/caravanverzekering/premie-berekenen/';
- var camperLink = 'https://www.centraalbeheer.nl/camperverzekering/premie-berekenen/';
- var motorLink = 'https://www.centraalbeheer.nl/prive/motorverzekering/premie-berekenen/';
- var belLink = 'tel:055-5798000';
- var terugbelLink = 'https://www.centraalbeheer.nl/formulieren/contact/Paginas/bel-mij-later.aspx';
- var emailLink = 'https://www.centraalbeheer.nl/formulieren/Paginas/stuur-een-e-mail.aspx';
- var collectiefLink = 'https://www.centraalbeheer.nl/collectief/Paginas/collectiviteitskorting.aspx';
- var independerLink = 'http://www.independer.nl/autoverzekering/fi/centraal-beheer-achmea.aspx';
- var opzeghulpLink = 'https://acties.centraalbeheer.nl/actiepaginas/Paginas/opzeghulp.aspx';
- var multiLPLink = 'http://campaign.zilverenkruis.nl/xs/infowidget/index.html';
- var autoLPLink = 'http://campaign.zilverenkruis.nl/xs/auto/index.html';
- var woonLPLink = 'http://campaign.zilverenkruis.nl/xs/wonen/index.html';
- var rechtLPLink = 'http://campaign.zilverenkruis.nl/xs/legal/index.html';
- var bootLPLink = 'http://campaign.zilverenkruis.nl/xs/boot/index.html';
- var caravanLPLink = 'http://campaign.zilverenkruis.nl/xs/caravan/index.html';
- var camperLPLink = 'http://campaign.zilverenkruis.nl/xs/camper/index.html';
- var motorLPLink = 'http://campaign.zilverenkruis.nl/xs/motor/index.html';
- var kiyohLink = 'https://www.kiyoh.nl/centraal_beheer_achmea/';
- var wijzerLink = 'http://www.wijzeringeldzaken.nl/onderwerpen/verzekering.aspx';
- var productInformatieLink = 'https://www.centraalbeheer.nl/verzekeringen/woonverzekering/Paginas/downloads.aspx';